<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EdiT</title>
    <link rel="stylesheet" href="../../style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="gallery.css">
  </head>
  <body>
    <header>
      <div class="navbar">
        <h1 class="logo">EdiT</h1>
        <ul>
          <li><a href="../../index.html">Forms</a></li>
          <li><a href="../header/header.html">Cabeçalho</a></li>
          <li><a href="../menu/menu.html">Menu</a></li>
          <li><a href="../gallery/gallery.html">Galeria</a></li>
          <li><a href="../footer/footer.html">Footer</a></li>
        </ul>
      </div>
    </header>
    <main>
      <section class="edit-field">
        <button class="addBtn">Adicionar card</button>
        <button id="exportGalleryBtn" class="btn">Exportar Gallery</button>
        <div class="properties">  
          <h2>Propriedades</h2>
          <div class="specific-properties dropdown open">
            <h3 class="properties-category dropdown-toggle">Imagem</h3>
            <div class="category-desc">
              <div class="option-line with-color">
                <div class="property-option">
                  <label for="showImage">Ativar</label>
                  <input type="checkbox" id="showImage" checked/>
                </div>
              </div>
              <div class="option-line dark" >
                <div class="property-option text">
                  <label for="addImage"></label>
                  <input type="file" accept="image/*" id="addImage" />
                </div>
              </div>
            </div>
          </div>
          <div class="specific-properties dropdown open">
            <h3 class="properties-category dropdown-toggle">Textos</h3>
            <div class="category-desc">
              <div class="option-line dark">
                <div class="property-option text">
                  <label for="addTitle">Título:</label>
                  <input type="text" id="addTitle" maxlength="12"/>
                </div>
              </div>
              <div class="option-line ">
                <div class="property-option textarea">
                  <label for="addText">Descrição:</label>
                  <textarea id="addText"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="form-box">
        <div class="card-content" data-form-id="gallery"></div>
      </section>
      <section class="general-properties">
        <h2>Propriedades gerais</h2>
        <div class="properties-content dropdown">
          <h3 class="properties-category dropdown-toggle">Cards</h3>
          <div class="category-desc">
            <div class="option-line">
              <div class="property-option range">
                <label for="cardWidth">Largura:</label>
                <input
                  type="range"
                  id="cardWidth"
                  min="150"
                  max="400"
                  value="200"
                />
                <span id="widthValue">200px</span>
              </div>
            </div>
            <div class="option-line dark">
              <div class="property-option range">
                <label for="cardHeight">Altura:</label>
                <input
                  type="range"
                  id="cardHeight"
                  min="180"
                  max="300"
                  value="250"
                />
                <span id="heightValue">250px</span>
              </div>
            </div>
            <div class="option-line">
              <div class="property-option range">
                <label for="cardBorder">Borda:</label>
                <input
                  type="range"
                  id="cardBorder"
                  min="0"
                  max="10"
                  value="0"
                />
                <span id="borderValue">0px</span>
              </div>
            </div>
            <div class="option-line dark">
              <div class="property-option">
                <label for="choose-font-title">Fonte do título: </label>
                <select name="choose-font-title" id="choose-font-title">
                  <option value="">- Selecione -</option>
                  <option value="Poppins" selected>Poppins</option>
                  <option value="Montserrat">Montserrat</option>
                  <option value="Roboto">Roboto</option>
                  <option value="Open Sans">Open Sans</option>
                </select>
              </div>
            </div>
            <div class="option-line">
              <div class="property-option">
                <label for="choose-font-desc">Fonte da descrição: </label>
                <select name="choose-font-desc" id="choose-font-desc">
                  <option value="">- Selecione -</option>
                  <option value="Poppins" selected>Poppins</option>
                  <option value="Montserrat">Montserrat</option>
                  <option value="Roboto">Roboto</option>
                  <option value="Open Sans">Open Sans</option>
                </select>
              </div>
            </div>
            <div class="option-line dark">
              <div class="property-option">
                <label for="element-spacing">Espaçamento: </label>
                <select name="element-spacing" id="element-spacing">
                  <option value="">- Selecione -</option>
                  <option value="flex-start">Esquerda</option>
                  <option value="center">Centralizado</option>
                  <option value="flex-end">Direita</option>
                  <option value="space-between">Espaço entre</option>
                  <option value="space-around">Espaço ao redor</option>
                  <option value="space-evenly">Espaço igual</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="properties-content dropdown">
          <h3 class="properties-category dropdown-toggle">Cores</h3>
          <div class="category-desc">
            <div class="option-line">
              <div class="property-option">
                <label for="bgColor">Fundo:</label>
                <input type="color" id="bgColor" value="#242424" />
              </div>
            </div>
            <div class="option-line dark">
              <div class="property-option">
                <label for="cardTitleColor">Título do card:</label>
                <input type="color" id="cardTitleColor" value="#d1d1d1" />
              </div>
            </div>
            <div class="option-line ">
              <div class="property-option">
                <label for="cardDescColor">Descrição do card:</label>
                <input type="color" id="cardDescColor" value="#d1d1d1" />
              </div>
            </div>
            <div class="option-line dark">
              <div class="property-option">
                <label for="cardBorderColor">Borda do card:</label>
                <input type="color" id="cardBorderColor" value="#000000" />
              </div>
            </div>
            <div class="option-line">
              <div class="property-option">
                <label for="bgCardColor">Fundo do card:</label> 
                <input type="color" id="bgCardColor" value="#5865f2" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="gallery.js"></script>
    <script src="gallery-salvar.js"></script>
    <script src="../../dropdown.js"></script>
    <script src="../../export.js"></script>
  </body>
</html>
